.status-column {
  background-color: #ebecf0;
  border: none;
  border-radius: 3px;
  min-width: 272px;
  height: 100%;
  margin: 4px;
  padding: 8px 8px 0;
}

.status-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
}

.status-header span {
  display: flex;
  align-items: baseline;
}

.status-column span h2 {
  margin: 6px 8px 0 8px;
  border-radius: 5px;
}

.material-symbols-outlined {
  margin-left: auto;
  margin-right: 8px;
}

.material-symbols-outlined:hover {
  cursor: pointer;
  background-color: rgba(55, 53, 47, 0.5);
  border-radius: 5px;
}

.dropdown-menu {
  display: block;
}

.dropdown-menu select {
  padding: 2px;
  position: absolute;
  overflow-y: auto;
}

.break-line {
  border: 1px solid rgba(55, 53, 47, 0.5);
  margin-top: 4px;
  margin-bottom: 4px;
}

.dropdown-menu select option {
  margin-top: 0.85px;
}

.dropdown-menu select option:hover {
  background-color: lightgray;
}

.status-column h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 8px;
}

.task-list {
  background-color: #ebecf0;
  border: none;
  border-radius: 3px;
  padding: 8px;
  min-height: 40px;
}

.empty-option {
  display: none;
}
